*.swo
*.swp
.deps
Makefile.global
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.nice
config.sub
configure
configure.in
install-sh
ltmain.sh
missing
mkinstalldirs
run-tests.php
.libs/
Makefile
Makefile.fragments
Makefile.objects
config.log
config.status
libtool
modules/
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.sh
tests/*.php
tests/*.test-db
tests/*.test-db.*
upscaledb.la
upscaledb.lo
test.db
